<!DOCTYPE html>
<html>
<head>
  {% load static %}
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible"content="IE=edge">
 <meta name="viewport" content="width=device-width,initial-scale=1.0">
 <title>Login</title>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <header class="header">
    <a href="{% url 'index' %}" class="logo">C<span class="material-icons">dark_mode</span>OSMOS</a>
    <nav class="nav">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registration' %}">Register</a>
    </nav>
  </header>
  <section class="home">
    <div class="content">
      <h2>COSMOS</h2>
      <p>Reshape Tommorrow's Teams Today<br>Experience the Future of HR with Our AI Edge</p>
    </div>
    <div class="wrapper-login">
      <h2>LOGIN</h2>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-box">
          <span class="material-icons">person</span>
          <input type="text"  id="username" name="username" required placeholder="Enter your Username">
          <small id="username-error" class="error-message"></small>
        </div>
        <div class="input-box">
          <span class="material-icons">mail</span>
          <input type="email" id="umail" name="umail" required placeholder="Email">
        </div>
        <div class="input-box">
          <span class="material-icons">lock</span>
          <input type="password" id="upass" name="upass" required placeholder="Password">
          <small id="password-error" class="error-message"></small>
        </div>
        <div class="user-type">
          <input type="radio" id="user" name="user_type" value="user" checked>
          <label for="user">User</label>
          <input type="radio" id="admin" name="user_type" value="admin">
          <label for="admin">Admin</label>
          <input type="radio" id="organization" name="user_type" value="organization">
          <label for="organization">Organization</label>
        </div>
        <div class="register-link">
          <p>Don't have Account?<a href="{% url 'registration' %}">  Create a Account Now</a></p>
        </div><br>
        <button class="btn" id="loginbtn" type="submit">Login</button>
      </form>
    </div>
  </section>
  <script src="{% static 'login.js' %}"></script>
</body>
</html>